#explain {
    .about {
      display: flex;
      margin-top: 50px;
  
      img {
        width: 200px;
        height: 200px;
      }
  
      .content {
        margin-left: 30px;
      }
    }
  
    margin-top: 50px;
  
    .why-code {
      position: relative;
  
      h1 {
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          top: 90px;
          content: " ";
          width: 100px;
          height: 2px;
          background-color: brown;
        }
  
        font-size: 35px;
        font-weight: 300px;
      }
    }
  }
  